/*
 ____  ___  _____    __        __ ___   ____   _  __ _____  ____
| __ )|_ _||_   _|   \ \      / // _ \ |  _ \ | |/ /| ____||  _ \
|  _ \ | |   | | _____\ \ /\ / /| | | || |_) || ' / |  _|  | |_) |
| |_) || |   | ||_____|\ V  V / | |_| ||  _ < | . \ | |___ |  _ <
|____/|___|  |_|        \_/\_/   \___/ |_| \_\|_|\_\|_____||_| \_\

Handcrafted pixels by Dipl. Wirt.-Ing. Nick Herrmann

*/
@charset "UTF-8";

:root {
    /* Base colors */
    --bw-white: #ffffff;
    --bw-orange: #e15d10;
    --bw-body-bg: #172b4a;
    --bw-black: #000000;

    /* Simplified dark tones */
    --bw-dark-1: #0d1117; /* Darkest */
    --bw-dark-2: #1f3a5f; /* Dark */
    --bw-dark-3: #274876; /* Light dark */
    --bw-chat-message: #102645; /* Light dark */

    /* Simplified text colors */
    --bw-txt: #898c91; /* Default text */
    --bw-txt-light: #f2f2f2; /* Light text */

    /* Simplified input colors */
    --bw-input-placeholder: #777777; /* Placeholder */

    /* Simplified border colors */
    --bw-border-dark: #222222; /* Dark border */
    --bw-border-light: #444444; /* Light border */

    /* UI element colors */
    --bw-button-accent: #ff6e48; /* Accent */
    --bw-success-green: rgb(24, 107, 24); /* Success */
    --bw-warning-orange: rgb(202, 136, 13); /* Warning */

    /* Colors with transparency */
    --bw-white-20: rgba(255, 255, 255, 0.2); /* Transparent white */
    --bw-black-70: rgba(0, 0, 0, 0.7); /* Transparent black */

    --bw-grid-dashboard: #191f2b;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
}

#chat {
    position: fixed;
    bottom: 2px;
    width: 100%;
}

/**
*
* Input Feld
*
*/
#chat input {
    font-family: 'Outfit', sans-serif;
    border: 0;
    padding: 7px;
    width: 90%;
    color: white;
    font-size: 1rem;
    background: var(--bw-dark-3);
    border-radius: 200px;
}

#chat input:focus {
    outline: 1px solid var(--bw-dark-1);
}

#chat button {
    width: 10%;
    background: #e15d10;
    border: none;
    font-size: 25px;
    color: white;
    padding: 10px;
}

/**
 *
 * Login
 *
 */
#loginmaske input {
    background-color: #1d1f25;
    border: 0 none;
    padding: 1rem;
    border-radius: 200px;
    color: #6b6d6f;
    width: 80%;
}

#loginmaske input:focus {
    background-color: #1d1f25;
    color: #6b6d6f;
    outline: 1px solid #e15d10;
}

#loginmaske .btn {
    background: #e15d10;
    border-radius: 200px;
    -moz-user-select: none;
    text-transform: uppercase;
    font-family: barna, sans-serif;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
    margin: 0;
}

#loginmaske .btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background: #b4480a;
    z-index: 1;
    border-radius: 5px;
    transition: transform 1.1s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0;
}

#loginmaske .btn:hover::before {
    transform: scaleX(1);
    color: #fff !important;
    z-index: -1;
}

/**
 *
 * ChatCord
 *
 */
.chat-messages {
    max-height: 80vh;
    height: 80vh;
    overflow-y: scroll;
    color: white;
}

/**
*
* Chat Message Style
*
*/
.chat-messages .message {
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
    background: var(--bw-chat-message);
    border-radius: 10px;
}

.chat-messages .message .meta {
    font-size: 0.7rem;
    color: #cccccc;
    padding: 0;
    padding-bottom: 0.4rem;
    margin: 0;
}

.chat-messages .message .text {
    margin: 0;
    margin-top: 5px;
    font-size: 0.9rem;
}

/**
 *
 * Operator Message Style
 *
 */
.chat-messages .operator {
    width: 80%;
    background: var(--bw-chat-message);
    /* place box right an d keep linebreak */
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 5px;
}

.avatarChatbot {
    background: #15151b url('../img/chatbot.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
    background-position: top right !important;
}

.avatarOperator {
    background: #15151b url('../img/nh.png') !important;
    background-repeat: no-repeat !important;
    background-size: 40px 40px !important;
    background-position: top right !important;
}
